<div>
    <div class="panel-group" id="accordion">
        <div ng-repeat="post in vm.posts" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}">
                        {{post.title}}
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse" ng-class="{in: $first}">
                <div class="panel-body">
                    <div marked="post.content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>